@charset "utf-8";

/* 
Author: Anisa Quintyne
Date: 2023-02-17
 */


body {
    line-height: 1.5;
}
.footer_title {
    width: 30%;
}
.container {
    max-width:1130px;
    margin: auto;
}

.row {
    display: flex;

}
.row_container {
    margin-right: 10px;
}

.footer-col {
    display: flex;
    padding: 0px 60px;
    justify-content: space-around;

}

h2 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    position: relative;
}



.footer-col h2::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 4px;
    width: 50px;
    box-sizing: border-box;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
    text-decoration: none;
    font-weight: 250;
    display: block;
}

.footer-col ul li a:hover {
    padding-left: 10px;
}

ul {
    list-style: none;
    padding: 0px;
}
