/* 
  
Author: John, Anisa and Montek
Date: 29-03-2023 

 */

.header-xl {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
  letter-spacing: -0.028em;
  line-height: 1.1;
}

/* HEADER */

.header {
  position: relative;
  z-index: 1;
  margin-block-start: 20px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header__home {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  text-decoration: none;
  flex: 1 0 100%;
}

.header__social > svg > path {
  transition: fill var(--transition);
}

.header__social:hover > svg > path {
  fill: var(--accent);
}

@media (min-width: 37.5em) {
  .header {
    margin-block-start: 30px;
    /* margin-block-end: 90px; */
  }

  .header__nav {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .header__home {
    flex: 0 1 auto;
    margin-inline-end: auto;
  }
}

@media (min-width: 62.5em) {
  .header {
    margin-block-start: 40px;
    margin-block-end: 127px;
  }

  .header__nav {
    padding-right: 30px;
  }
}

/*  landing */

.landing__wrapper {
  padding-bottom: 80px;
}

.landing__image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 174px;
  height: auto;
}

.landing__rings {
  position: absolute;
  right: 50%;
  top: 130px;
  /* 8.125rem; */
  z-index: -1;
  /* width: 33.125rem; */
  height: auto;
}

.landing__circle {
  position: relative;
  top: 171px;
  margin-bottom: -129px;
  translate: calc(100vw - 64px - 16px);
}

.landing__text {
  position: relative;
  text-align: center;
  margin-block-start: 70px;
}

.landing__headline {
  margin-block-end: 24px;
}

.landing__headline > br {
  display: none;
}

h1 > span {
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.landing__description {
  margin-block-end: 24px;
}

@media (min-width: 37.5em) {
  .landing {
    position: relative;
    margin-block-start: -62px;
  }

  .landing__wrapper {
    padding-bottom: 60px;
  }

  .landing__content {
    display: flex;
    align-items: center;
  }

  .landing__content picture {
    order: 2;
  }

  .landing__image {
    position: relative;
    width: 42vw;
    max-width: 445px;
    /* width: 322px; */
    height: auto;
    left: auto;
    right: 0;
    translate: 0;
  }

  .landing__rings {
    top: 90px;
    right: auto;
    left: 0;
    translate: -50%;
  }

  .landing__circle {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 190px;
    translate: 50%;
    z-index: 1;
  }

  .landing__text {
    /* width: 62vw; */
    margin-block-start: 90px;
    margin-right: -30px;
    flex: 1 0 58vw;
    text-align: left;
    z-index: 1;
  }

  .landing__headline {
    margin-block-end: 60px;
  }

  .landing__headline > br {
    display: inline-block;
  }

  .landing__description {
    /* width: 70%; */
    margin-block-end: 34px;
  }
}

@media (min-width: 62.5em) {
  .landing {
    margin-block-start: 0px;
  }

  .landing__wrapper {
    position: relative;
    padding-bottom: 100px;
  }

  .landing__content {
    align-items: flex-start;
  }

  .landing__content picture {
    margin-left: -80px;
  }

  .landing__image {
    margin-block-start: -199px;
  }

  .landing__rings {
    top: 0px;
    translate: -50% -50%;
  }

  .landing__circle {
    top: 322px;
    right: 445px;
  }

  .landing__text {
    margin-block-start: 0;
    margin-right: 0;
    flex: 1;
  }

  .landing__headline {
    margin-block-end: 43px;
  }

  .landing__headline > br {
    display: none;
  }

  .landing__description {
    width: 38ch;
    margin-block-end: 66px;
  }
}

/* SKILLS */

.skills {
  position: relative;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-block: 40px;
}

.skills__item {
  text-align: center;
}

.skills__title {
  font-size: 2rem;
  font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
  line-height: 1.17;
  margin-block-end: 2px;
}

.skills__description {
  margin-block-end: 0;
}

.skills__rings {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: 0 50%;
}

@media (min-width: 37.5em) {
  .skills__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 24px;
    border: none;
    padding-block: 52px 0;
  }

  .skills__item {
    text-align: left;
  }

  .skills__rings {
    translate: 40% 50%;
  }
}

@media (min-width: 62.5em) {
  .skills__wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 58px 30px;
    padding-block-start: 72px;
  }

  .skills__rings {
    translate: -40% 50%;
    left: 100%;
  }
}

/* tutorials */

.tutorials__wrapper {
  padding-block: 140px;
}

.tutorials__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  text-align: center;
}

.tutorials__headline {
  grid-column: 1 / span 2;
  margin-block-end: 0;
}

.tutorials__contact {
  grid-column: 1 / span 2;
}

.tutorials__item {
  grid-column: 1 / span 2;
}

.tutorials__picture {
  display: block;
  margin-block-end: 20px;
}

.tutorials__image {
  width: 100%;
  height: auto;
}

.tutorials__name {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-end: 7px;
}

.tutorials__tags {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-block-end: 20px;
  text-transform: uppercase;
}

.tutorials__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 37.5em) {
  .tutorials__grid {
    gap: 60px 24px;
    justify-items: start;
    text-align: left;
  }

  .tutorials__contact {
    justify-self: end;
  }

  .tutorials__item {
    grid-column: span 1;
  }

  .tutorials__headline,
  .tutorials__contact {
    grid-column: span 1;
  }

  .tutorials__contact {
    align-self: center;
  }

  .tutorials__tags,
  .tutorials__links {
    display: block;
  }

  .tutorials__tags span {
    margin-inline-end: 18px;
  }

  .tutorials__links a {
    margin-inline-end: 30px;
  }

  .project__links {
    display: block;
  }
}

@media (min-width: 62.5em) {
  .tutorials__grid {
    gap: 70px 30px;
  }

  .tutorials__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .tutorials__picture {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .tutorials__picture::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .tutorials__item:hover .tutorials__picture::after {
    opacity: 0.5;
  }

  .tutorials__item:hover .tutorials__links {
    opacity: 1;
  }
  .tutorials__item:focus-within .tutorials__links {
    opacity: 1;
  }

  .tutorials__item:focus-within .tutorials__picture::after {
    opacity: 0.5;
  }

  .tutorials__image {
    width: 100%;
    height: auto;
  }

  .tutorials__links {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }

  .tutorials__links:hover ~ .tutorials__picture::after {
    opacity: 0.5;
  }

  .tutorials__tags {
    margin-block-end: 0;
  }
}

/* CONTACT */

.contact {
  position: relative;
}

.contact__wrapper {
  padding-block: 84px;
}

.contact__headline {
  margin-block-end: var(--fs-20);
}

.contact__control {
  position: relative;
  margin-block-end: 16px;
}

.contact__control input,
.contact__control textarea {
  width: 100%;
  padding-block: 16px;
  padding-inline: 24px;
  border: none;
  border-bottom: 1px solid var(--text1);
  background: transparent;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--text1);
}

.contact__control > *::placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
}

.contact__control textarea {
  margin-block-end: 32px;
}

.contact__control.align-right {
  display: flex;
  justify-content: flex-end;
}

.contact__control button {
  background-color: transparent;
  border: none;
}

.contact__invalid-icon {
  display: none;
  width: var(--fs-24);
  height: var(--fs-24);
  position: absolute;
  top: 50%;
  right: 0;
  translate: -50% -50%;
}

.contact input:focus-visible:invalid ~ .contact__invalid-icon,
.contact textarea:focus-visible:invalid ~ .contact__invalid-icon {
  display: inline-block;
}

.contact textarea:focus-visible:invalid ~ .contact__invalid-icon {
  top: 1.2rem;
  right: 1.5rem;
  translate: none;
}

.contact__rings {
  position: absolute;
  left: 0;
  bottom: 97px;
  translate: -75%;
}

@media (min-width: 37.5em) {
  .contact__rings {
    bottom: 47px;
    translate: -75%;
  }
}

@media (min-width: 62.5em) {
  .contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 27.8rem);
    justify-content: space-between;
  }

  .contact__headline {
    margin-block-end: var(--fs-36);
  }

  .contact__rings {
    translate: -40%;
  }
}

/* 999.98px */
@media (max-width: 62.49875em) {
  .contact__wrapper {
    max-width: 27.8rem;
  }

  .contact__text {
    text-align: center;
  }
}

